/* Heading 1 */
@utility h1 {
  @apply text-h1 font-heading leading-tight font-bold mb-1 md:mb-0;
}

/* Heading 2 */
@utility h2 {
  @apply text-h2 font-heading mt-4 md:mt-8 mb-1;
}

/* Heading 3 */
@utility h3 {
  @apply text-h3 font-bold font-heading mt-2 mb-1 leading-[1.125];
}

/* Paragraph */
@utility paragraph {
  @apply text-sm md:text-base leading-relaxed md:leading-loose my-0.75 first:mt-0 last:mb-0;
}

@layer utilities {

  h1,
  .h1 {
    @apply h1;
  }

  h2,
  .h2 {
    @apply h2;
  }

  h3,
  .h3 {
    @apply h3;
  }

  p,
  .paragraph {
    @apply paragraph;
  }

  ul {
    @apply list-disc ml-4;
  }

  ol {
    @apply list-decimal ml-4;
  }

  ul > li,
  ol > li {
    @apply text-sm md:text-base leading-loose;
  }

}
