@import "tailwindcss";
@import "./styles/_variables.css";
@import "./styles/typography.css";
@import "./styles/utilities.css";

:root {
  @apply bg-nearblack text-white;
}

* {
  @apply scroll-smooth;
}
